<h3><div style="display:inline-block; color:black padding-left:20px">
  Name: <%=@board.user.name%>
</div>
</h3>

<%= form_for Post.new, html: { multipart: true } do |f| %>

  <%= f.text_area :content, placeholder: "What's on your mind?", cols: 64, rows: 8 %><br />


  <%= f.label "Upload images: "%>
  <%= f.file_field :image %><br /><br />

  <%= f.hidden_field :board_id, value: @board.id%>
  
  <%= f.submit %>

<% end %>


<h1>Posts</h1>

  <% @posts.each do |post| %>

    <strong><%= post.user.name %></strong>  

    <%= post.created_at %> 

    <% if current_user.present? && current_user.id ==  @board.user_id %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post, method: :delete %>
    <% else %> 
      <% if current_user.present? && current_user.id ==  post.user_id %>
       <%= link_to 'Edit', edit_post_path(post) %>
      <%end%> 
    <%end%> 
    
    </br></br>
    <%= post.content %> </br>
    <%= post.image.url %> </br>

    <%= form_for Comment.new do |f| %>

      <%= f.text_area :content, cols: 64, rows: 2 %>
      
      <%= f.hidden_field :post_id, value: post.id%>

      <%= f.hidden_field :board_id, value: @board.id%>

      <%= f.submit %>

    <% end %>
   
    <strong> Comments: </strong>  </br>
    <% post.comments.each do |comment| %>
      <%= comment.user.name %>:
      <%= comment.content %> 

      <% if current_user.present? && current_user.id == @board.user_id %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Delete', comment, method: :delete %>
        </br>
      <% else %> 
        <% if current_user.present? && current_user.id == comment.user_id %>
          <%= link_to 'Edit', edit_comment_path(comment) %>
          <%= link_to 'Delete', comment, method: :delete %>
      <%end%> 

      </br>
      <%= comment.created_at %>

    </br>

    <%end%> 


    <% end %>



    </br></br>

  <% end %>

<div class = "digg_pagination">
  <%= will_paginate @posts %>
</div>  

